body {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    border: 2px solid teal;
    width: 500px;
    margin: auto;
}

input[type=text],
input[type=password],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: teal;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}

button:hover {
    opacity: 0.8;
    box-shadow: 0 0 15px teal;
}

.container {
    padding: 16px;
}

a {
    float: none;
    padding-top: 16px;
    display: block;
    text-decoration: none;
}

.imgContainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

h2 {
    font-weight: bold;
    color: darkblue;
}

input:hover {
    box-shadow: 0 0 15px teal;
}

#forgetPassword:hover {
    font-weight: bold;
    text-decoration: underline;
}

h3 {
    text-align: center;
    color: teal;
}

#show_btn {
    width: 200px;
}